In [1]:
import pandas as pd
import numpy as np

In [78]:
data = """
Diametro_25	15	45
15	3	2
15		3
"""

data = data.split('\n')[1:-1]
data = list(
    map(
        lambda x: x.split('\t'),
        data
    )
)

data = np.array(data)

df = pd.DataFrame(
    data[1:, 1:],
    columns=data[0][1:],
    index=data[1:, 0]
)
df.to_csv('25.csv')
df

   15 45
15  3  2
15     3

In [104]:
data = """
Diametro_32	15	45
15	3	3
45	4	4
"""

data = data.split('\n')[1:-1]
data = list(
    map(
        lambda x: x.split('\t'),
        data
    )
)

data = np.array(data)

df = pd.DataFrame(
    data[1:, 1:],
    columns=data[0][1:],
    index=data[1:, 0]
)
df.to_csv('32.csv')
df

   15 45
15  3  3
45  4  4

In [57]:
# get value at 25 index and 45 columns
df.loc['25', '45']

25    2
25    3
Name: 45, dtype: object

In [27]:
np.array(data) #[1:, 1:]

array([['Diametro_25', 'Angulo25_15°', 'Angulo25_15°'],
       ['Angulo25_15°', '3', '2'],
       ['Angulo25_45°', '', '3']], dtype='<U12')

In [102]:
pd.DataFrame(
    data,
    columns=['Diametro_25', 'Angulo25_15°', 'Angulo25_45°'],
    index=['2', '2', '4']
)

   Diametro_25 Angulo25_15° Angulo25_45°
2  Diametro_32           15           45
2           15            3            3
4           45            4            4

In [108]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='PLANEADO',
    skiprows=0,
    usecols='B,C,F,G,I,J',
)

df.columns = ['type', 'Nombre', 'D1', 'D', 'Api_max', 'z']
df.to_csv('planeado.csv', index=False)
df.head()

  type                                             Nombre  D1   D Api_max  z
0  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  25  29     1.6  3
1  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  32  29     1.6  4
2  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  25  20     1.6  3
3  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  32  25     1.6  3
4  PL1   Dodeka Mini de alto avance 15° - Fresas de plato  40  22     1.6  5

In [109]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='ESCUADRADO_90°',
    skiprows=0,
    usecols='B,C,F,G,I,J',
)

df.columns = ['type', 'Nombre', 'D1', 'D', 'Api_max', 'z']
df.to_csv('escuadrado.csv', index=False)
df.head()

  type                                 Nombre  D1     D  Api_max  z
0  ES1  Fresas de mango Screw-On • Mill 4-11™  16  13.0     11.0  2
1  ES1  Fresas de mango Screw-On • Mill 4-11™  20  18.0     11.0  3
2  ES1  Fresas de mango Screw-On • Mill 4-11™  25  21.0     11.0  4
3  ES1  Fresas de mango Screw-On • Mill 4-11™  32  29.0     11.0  5
4  ES1  Fresas de mango Screw-On • Mill 4-11™  32  29.0     11.0  6

In [125]:
# get all API_max values D1 = '3'
df[df['D1'] == float('16')]['Api_max']

0     11.0
5     11.0
11    11.0
12    11.0
72     7.0
74    10.1
83    10.1
91    10.1
98    10.1
99     9.7
Name: Api_max, dtype: float64

In [114]:
df['D1'].unique().astype(str).tolist()

['16',
 '20',
 '25',
 '32',
 '40',
 '50',
 '63',
 '80',
 '35',
 '100',
 '125',
 '160',
 '12',
 '42',
 '18',
 '22',
 '28',
 '34',
 '52',
 '200']

In [107]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='RANURADO',
    skiprows=0,
    usecols='B,C,F,G,I,J',
)

df.columns = ['type', 'Nombre', 'D1', 'D', 'Api_max', 'z']
df.to_csv('ranurado.csv', index=False)
df.head()

  type                                             Nombre  D1   D  Api_max  z
0  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  25  25     11.0  4
1  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  32  32     14.0  4
2  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  40  32     18.0  4
3  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  50  32     22.0  4
4  RA2            A2 • Ancho de corte 1,6 mm • KVNS ™ A2™  63  16      1.3  5

In [14]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='MATERIALES',
    usecols='D:I',
    skiprows=7,
    nrows=32
)

df.columns = ['P1', 'P2', 'P3', 'P4', 'P5', 'P6']

df.to_csv(
    './aceros.csv',
    index=False,
    encoding='utf-8'
)

df

             P1     P2      P3            P4      P5     P6
0          1015   1030    1330          1513     314    431
1          1213   1034    1335          4419     330   5718
2          1215   1035    1345          5015     348  415 M
3         12L13   1037    1513          6150     403  440 A
4         12L14   1039    4142  A 570 Gr. 40     405  440 C
5   A 570 Gr 33   1040    4147  A 570 Gr. 70     409   440B
6   A 570 Gr 36   1045    4419           A-6     410   CF-8
7         B1112   1046    4520    A663 Gr. C     414    NaN
8           NaN   1055    5015            P6     420    NaN
9           NaN   1059    5046            T8     422    NaN
10          NaN   1060    5115           NaN     430    NaN
11          NaN   1069    5117           NaN     430    NaN
12          NaN   1070    5130           NaN     434    NaN
13          NaN   1070    5140           NaN     439    NaN
14          NaN   1074    9255           NaN     446    NaN
15          NaN   1075    9260           NaN     661    NaN
16          NaN   1078    9262           NaN   310 S    NaN
17          NaN   1080  15B21H           NaN   410 s    NaN
18          NaN   1084   50B40           NaN   430 F    NaN
19          NaN   1090   5130H           NaN  430 Nb    NaN
20          NaN   1095    W108           NaN   904 L    NaN
21          NaN   1095    W110           NaN     NaN    NaN
22          NaN   1110    W112           NaN     NaN    NaN
23          NaN   1140    W210           NaN     NaN    NaN
24          NaN   1141     NaN           NaN     NaN    NaN
25          NaN   1146     NaN           NaN     NaN    NaN
26          NaN   1151     NaN           NaN     NaN    NaN
27          NaN   1536     NaN           NaN     NaN    NaN
28          NaN   1551     NaN           NaN     NaN    NaN
29          NaN   1566     NaN           NaN     NaN    NaN
30          NaN  1038H     NaN           NaN     NaN    NaN
31          NaN  11L08     NaN           NaN     NaN    NaN

In [21]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='MATERIALES',
    usecols='l:n',
    skiprows=7,
    nrows=25
)

df.columns = ['M1', 'M2', 'M3']

df.to_csv(
    './aceros_inoxidables.csv',
    index=False,
    encoding='utf-8'
)

df

        M1      M2      M3
0      332     201     329
1      334     202    2507
2      610     218  S31500
3      611     301  S32304
4   105 MA     302  S32550
5     CF-8     303     NaN
6    CF-8M     305     NaN
7      NaN     309     NaN
8      NaN     316     NaN
9      NaN     317     NaN
10     NaN     318     NaN
11     NaN     321     NaN
12     NaN     321     NaN
13     NaN   304 H     NaN
14     NaN   304 L     NaN
15     NaN  304 LN     NaN
16     NaN   308 L     NaN
17     NaN   316 H     NaN
18     NaN  316 Ti     NaN
19     NaN    316L     NaN
20     NaN    317L     NaN
21     NaN    A286     NaN
22     NaN    A660     NaN
23     NaN    EV11     NaN
24     NaN    EV12     NaN

In [25]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='MATERIALES',
    usecols='aa:ad',
    skiprows=7,
    nrows=18
)

df.columns = ['S1', 'S2', 'S3', 'S4']

df.to_csv(
    './aleacion_alta_temperatura.csv',
    index=False,
    encoding='utf-8'
)

df

           S1        S2            S3            S4
0        6501  AMS 5399    Níquel 200       R 50250
1        6512       670    Níquel 201       R 50400
2        6520       NaN      CZ - 100       R 50550
3   ASTM B463       NaN      M 35-1/2       R 50700
4   ASTM A666       NaN        M 30-H  Ti 5AL-2.5Sn
5   ASTM B753       NaN         M-255       R 54620
6      S66286       NaN           687       R 56620
7        6514       NaN      CW-12 MW       R 52250
8        6518       NaN    ASME SB575       R 52400
9        6519       NaN    ASME SB443       Ti 98.9
10       6591       NaN  ASME SB443.4       Ti 99.9
11       5725       NaN    ASME SB163           NaN
12  ASTM A638       NaN           684           NaN
13       5768       NaN       SZ -100           NaN
14   ASTM F30       NaN           686           NaN
15       5768       NaN    ASME SB409           NaN
16       5533       NaN           690           NaN
17        665       NaN           NaN           NaN

In [31]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='MATERIALES',
    usecols='q:s',
    skiprows=7,
    nrows=25
)

df.columns = ['K1', 'K2', 'K3']

df.to_csv(
    './fundicion.csv',
    index=False,
    encoding='utf-8'
)

df

         K1               K2  K3
0   A48-20B            32510 NaN
1   A48-25B            40010 NaN
2   A48-35B            50005 NaN
3    A48-40            70003 NaN
4   A48-45B            90001 NaN
5   A48-50B        100-70-03 NaN
6   A48-55B        120-90-02 NaN
7    A48-60         60-40-18 NaN
8       NaN         65-45-12 NaN
9       NaN         80-55-06 NaN
10      NaN     A 436 Tipo 2 NaN
11      NaN    A 436 Tipo 2b NaN
12      NaN     A 436 Tipo 3 NaN
13      NaN     A 436 Tipo 4 NaN
14      NaN      A 436 Tipo1 NaN
15      NaN     A 436 Tipo1b NaN
16      NaN  A 439 Tipo D -3 NaN
17      NaN   A 439 Tipo D-2 NaN
18      NaN  A 439 Tipo D-28 NaN
19      NaN  A 439 Tipo D-2C NaN
20      NaN  A 439 Tipo D-3A NaN
21      NaN   A 439 Tipo D-4 NaN
22      NaN   A 439 Tipo D-5 NaN
23      NaN  a 439 Tipo D-5A NaN
24      NaN  A 571 Tipo D-2M NaN

In [38]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='MATERIALES',
    usecols='v:x',
    skiprows=7,
    nrows=42
)

df.columns = ['N1', 'N2', 'N3']

df.to_csv(
    './material_no_ferroso.csv',
    index=False,
    encoding='utf-8'
)

df

      N1       N2       N3
0   1000     2090     4032
1   1050     2091  A 413.1
2   1070     2094  A 413.2
3   1080     2095      NaN
4   1100     2097      NaN
5   2014     2098      NaN
6   2017     2099      NaN
7   2024     2117      NaN
8   2025     2195      NaN
9   2050     2196      NaN
10  3003     2197      NaN
11  3004     2198      NaN
12  3005     2199      NaN
13  3103     2218      NaN
14  3105     2224      NaN
15  5005     2297      NaN
16  5050     2397      NaN
17  5052     4032      NaN
18  5056     6061      NaN
19  5083     8017      NaN
20  5086     8024      NaN
21  5251     8090      NaN
22  5657     8091      NaN
23  5754     8093      NaN
24  6060   4218 B      NaN
25  6063  A 360,2      NaN
26  6070  A 413,0      NaN
27  6082  A 413,1      NaN
28  6151  A 413,2      NaN
29  6262    AS 41      NaN
30  6463   AS 7 G      NaN
31  7001    AZ 81      NaN
32  7003    AZ 91      NaN
33  7020    EZ 33      NaN
34  7022    QE 22      NaN
35  7040    ZE 41      NaN
36  7050      NaN      NaN
37  7075      NaN      NaN
38  7175      NaN      NaN
39  7178      NaN      NaN
40  7475      NaN      NaN

In [40]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='MATERIALES',
    usecols='AG:AG',
    skiprows=7,
    nrows=6
)

df.columns = ['H1']

df.to_csv(
    './endurecido.csv',
    index=False,
    encoding='utf-8'
)

df

                  H1
0               H 11
1               H 13
2               H 10
3               H 19
4  A 532 I B NiCr-Lc
5                 L6