In [22]:
import pandas as pd
import numpy as np

In [78]:
data = """
Diametro_25	15	45
15	3	2
15		3
"""

data = data.split('\n')[1:-1]
data = list(
    map(
        lambda x: x.split('\t'),
        data
    )
)

data = np.array(data)

df = pd.DataFrame(
    data[1:, 1:],
    columns=data[0][1:],
    index=data[1:, 0]
)
df.to_csv('25.csv')
df

   15 45
15  3  2
15     3

In [79]:
data = """
Diametro_32	15	45
15	3	3
45	4	4
"""

data = data.split('\n')[1:-1]
data = list(
    map(
        lambda x: x.split('\t'),
        data
    )
)

data = np.array(data)

df = pd.DataFrame(
    data[1:, 1:],
    columns=data[0][1:],
    index=data[1:, 0]
)
df.to_csv('32.csv')
df

   15 45
15  3  3
45  4  4

In [57]:
# get value at 25 index and 45 columns
df.loc['25', '45']

25    2
25    3
Name: 45, dtype: object

In [27]:
np.array(data) #[1:, 1:]

array([['Diametro_25', 'Angulo25_15°', 'Angulo25_15°'],
       ['Angulo25_15°', '3', '2'],
       ['Angulo25_45°', '', '3']], dtype='<U12')

In [16]:
pd.DataFrame(
    data,
    columns=['Diametro_25', 'Angulo25_15°', 'Angulo25_45°'],
    index=['2', '2', '4']
)

    Diametro_25  Angulo25_15°  Angulo25_45°
2   Diametro_25  Angulo25_15°  Angulo25_15°
2  Angulo25_15°             3             2
4  Angulo25_45°                           3