In [80]:
import pandas as pd
import numpy as np

In [78]:
data = """
Diametro_25	15	45
15	3	2
15		3
"""

data = data.split('\n')[1:-1]
data = list(
    map(
        lambda x: x.split('\t'),
        data
    )
)

data = np.array(data)

df = pd.DataFrame(
    data[1:, 1:],
    columns=data[0][1:],
    index=data[1:, 0]
)
df.to_csv('25.csv')
df

   15 45
15  3  2
15     3

In [104]:
data = """
Diametro_32	15	45
15	3	3
45	4	4
"""

data = data.split('\n')[1:-1]
data = list(
    map(
        lambda x: x.split('\t'),
        data
    )
)

data = np.array(data)

df = pd.DataFrame(
    data[1:, 1:],
    columns=data[0][1:],
    index=data[1:, 0]
)
df.to_csv('32.csv')
df

   15 45
15  3  3
45  4  4

In [57]:
# get value at 25 index and 45 columns
df.loc['25', '45']

25    2
25    3
Name: 45, dtype: object

In [27]:
np.array(data) #[1:, 1:]

array([['Diametro_25', 'Angulo25_15°', 'Angulo25_15°'],
       ['Angulo25_15°', '3', '2'],
       ['Angulo25_45°', '', '3']], dtype='<U12')

In [102]:
pd.DataFrame(
    data,
    columns=['Diametro_25', 'Angulo25_15°', 'Angulo25_45°'],
    index=['2', '2', '4']
)

   Diametro_25 Angulo25_15° Angulo25_45°
2  Diametro_32           15           45
2           15            3            3
4           45            4            4

In [108]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='PLANEADO',
    skiprows=0,
    usecols='B,C,F,G,I,J',
)

df.columns = ['type', 'Nombre', 'D1', 'D', 'Api_max', 'z']
df.to_csv('planeado.csv', index=False)
df.head()

  type                                             Nombre  D1   D Api_max  z
0  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  25  29     1.6  3
1  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  32  29     1.6  4
2  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  25  20     1.6  3
3  PL1  Dodeka Mini de alto avance 15° - Fresas de man...  32  25     1.6  3
4  PL1   Dodeka Mini de alto avance 15° - Fresas de plato  40  22     1.6  5

In [109]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='ESCUADRADO_90°',
    skiprows=0,
    usecols='B,C,F,G,I,J',
)

df.columns = ['type', 'Nombre', 'D1', 'D', 'Api_max', 'z']
df.to_csv('escuadrado.csv', index=False)
df.head()

  type                                 Nombre  D1     D  Api_max  z
0  ES1  Fresas de mango Screw-On • Mill 4-11™  16  13.0     11.0  2
1  ES1  Fresas de mango Screw-On • Mill 4-11™  20  18.0     11.0  3
2  ES1  Fresas de mango Screw-On • Mill 4-11™  25  21.0     11.0  4
3  ES1  Fresas de mango Screw-On • Mill 4-11™  32  29.0     11.0  5
4  ES1  Fresas de mango Screw-On • Mill 4-11™  32  29.0     11.0  6

In [114]:
df['D1'].unique().astype(str).tolist()

['16',
 '20',
 '25',
 '32',
 '40',
 '50',
 '63',
 '80',
 '35',
 '100',
 '125',
 '160',
 '12',
 '42',
 '18',
 '22',
 '28',
 '34',
 '52',
 '200']

In [107]:
df = pd.read_excel(
    './FRESADO_1.xlsm',
    sheet_name='RANURADO',
    skiprows=0,
    usecols='B,C,F,G,I,J',
)

df.columns = ['type', 'Nombre', 'D1', 'D', 'Api_max', 'z']
df.to_csv('ranurado.csv', index=False)
df.head()

  type                                             Nombre  D1   D  Api_max  z
0  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  25  25     11.0  4
1  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  32  32     14.0  4
2  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  40  32     18.0  4
3  RA1  KTMS  •  Fresa para ranuras en T con refrigera...  50  32     22.0  4
4  RA2            A2 • Ancho de corte 1,6 mm • KVNS ™ A2™  63  16      1.3  5